$font-family-main: Helvetica, Arial, sans-serif;
$font-family-code: 'Menlo', monospace;;

$grey-border: #eee;
$grey-text: #7A7A7A;
$grey-btn: #D8D8D8;
$light-grey: #E3E3E3;
$mid-grey: #C9C9C9;
$black: #000;
$white: #fff;
$green: #3DB39E;
$yellow: #FDCC30;
$blue: #5E7FCD;

$primary: $blue;

$box-shadow: 0 2px 2px rgba(#000, 0.06), 0 2px 24px rgba(#000, 0.06);
