.PayBear-app {
  .P-buttons-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    .P-btn-block {
      width: 100%;
      max-width: 236px;
    }
  }
  .P-btn-block {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 600;
    color: #656565;
    cursor: pointer;

    width: 236px;
    margin-right: 12px;
    line-height: 1.25;
    @include sm {
      font-size: 15px;
      margin-right: 24px;
    }
    &:last-child {
      margin-right: 0;
    }
    &__inner {
      display: block;
      padding: 16px 10px 21px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 1px 2px rgba(#000, 0.14), 0 2px 17px rgba(#000, 0.06);
    }
    &:active {
      .P-btn-block__inner {
        box-shadow: 0 1px 2px rgba(#000, 0.14);
      }
    }
    &.P-wallet-btn {
      .P-wallet-icon {
        width: 18px;
        height: 18px;
        margin: 0 auto 4px;
        display: block;
        background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMwIiB2aWV3Qm94PSIwIDAgMzIgMzAiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMjguNjY2NjY2NyAxMy4zMzMzMzMzaC0uNjY2NjY2N3YtMy4zMzMzMzMzYzAtMS4yMjY2NjY2Ny0uNjkzMzMzMy0yLTEuNjEzMzMzMy0yLjY2NjY2NjY3LS42MjI1NDQ2LS40Mzc1MDAxMS0xLjM2NTc3NjgtLjY3MDQ4ODI2LTIuMTI2NjY2Ny0uNjY2NjY2NjZoLTE4LjE5MzMzMzMzYy0xLjAyNzEyNDMzLjAyMTg1Njg0LTEuOTExMjg5NzctLjcyMTEyNzM1LTIuMDY2NjY2NjctMS43MzY2NjY2Ny0uMDc2MzA5NTktLjU3NDM1MjQ0LjEwMDIwODQ4LTEuMTUzNTcxNDUuNDgzODY4OS0xLjU4Nzc0NzE2LjM4MzY2MDQzLS40MzQxNzU3Mi45MzY3NTM1LS42ODA2MzMzMiAxLjUxNjEzMTEtLjY3NTU4NjE3aDE1LjkxYy4zMzUzMzIzLS4wMDY1Njc0Ni42MjcyODU4LjIyNzgzNzUzLjY5MzMzMzMuNTU2NjY2NjYuMDMyNjMwOS4xOTQ5Mzc3MS0uMDIyOTE5Mi4zOTQzMDUwOS0uMTUxNjU0MS41NDQyODExNy0uMTI4NzM0OC4xNDk5NzYwOC0uMzE3MzgxMi4yMzUwOTc2OS0uNTE1MDEyNS4yMzIzODU1aC0xNS45MDMzMzMzN2MtLjMzNzI0NTgtLjAxMTUzNTk4LS42MzMzNjA3LjIyMjUzNTc5LS43LjU1MzMzMzMzLS4wMzM3MzkyNC4xOTU0NTE1LjAyMTMwMTQyLjM5NTc3NjgxLjE1MDE2ODQzLjU0NjU1MTIxLjEyODg2Ny4xNTA3NzQ0LjMxODE3NzExLjIzNjMzOTQ5LjUxNjQ5ODI0LjIzMzQ0ODc5aDE5LjMzMzMzMzN2LTEuMzMzMzMzMzNjMC0xLjg3LTIuMDgtNC00LjY2NjY2NjYtNGgtMTYuMDAwMDAwMDNjLTIuNTc3MzI4ODQgMC00LjY2NjY2NjY3IDIuMDg5MzM3ODMtNC42NjY2NjY2NyA0LjY2NjY2NjY3djIwLjAwMDAwMDAzYzAgMi41NzczMjg4IDIuMDg5MzM3ODMgNC42NjY2NjY2IDQuNjY2NjY2NjcgNC42NjY2NjY2aDE4LjY2NjY2NjYzYzIuNTc3MzI4OSAwIDQuNjY2NjY2Ny0yLjA4OTMzNzggNC42NjY2NjY3LTQuNjY2NjY2NnYtMy4zMzMzMzM0aC42NjY2NjY3Yy44ODQwNTQ5IDAgMS43MzE5MDEzLS4zNTExODk0IDIuMzU3MDIyNi0uOTc2MzEwNy42MjUxMjEyLS42MjUxMjEzLjk3NjMxMDctMS40NzI5Njc2Ljk3NjMxMDctMi4zNTcwMjI2di0xLjMzMzMzMzNjMC0uODg0MDU1LS4zNTExODk1LTEuNzMxOTAxNC0uOTc2MzEwNy0yLjM1NzAyMjYtLjYyNTEyMTMtLjYyNTEyMTMtMS40NzI5Njc3LS45NzYzMTA4LTIuMzU3MDIyNi0uOTc2MzEwOHptMiA0LjY2NjY2NjdjMCAxLjEwNDU2OTUtLjg5NTQzMDUgMi0yIDJoLTYuNjY2NjY2N2MtMS4xMDQ1Njk1IDAtMi0uODk1NDMwNS0yLTJ2LTEuMzMzMzMzM2MwLTEuMTA0NTY5NS44OTU0MzA1LTIgMi0yaDYuNjY2NjY2N2MxLjEwNDU2OTUgMCAyIC44OTU0MzA1IDIgMnptLTggLjY2NjY2NjdjLjczNjM3OTYgMCAxLjMzMzMzMzMtLjU5Njk1MzcgMS4zMzMzMzMzLTEuMzMzMzMzNCAwLS43MzYzNzk2LS41OTY5NTM3LTEuMzMzMzMzMy0xLjMzMzMzMzMtMS4zMzMzMzMzLS43MzYzNzk3IDAtMS4zMzMzMzM0LjU5Njk1MzctMS4zMzMzMzM0IDEuMzMzMzMzMyAwIC43MzYzNzk3LjU5Njk1MzcgMS4zMzMzMzM0IDEuMzMzMzMzNCAxLjMzMzMzMzR6IiBmaWxsPSIjOTk5IiB0cmFuc2Zvcm09IiIvPjwvc3ZnPg==');
        background-size: contain;
        @include sm {
          width: 24px;
          height: 24px;
          margin: 0 auto 9px;
        }
      }
    }
    &__helper {
      display: block;
      color: #9F9F9F;
      letter-spacing: -0.22px;
      font-family: $font-family-code;
      font-weight: 400;
      margin-bottom: 7px;
      font-size: 13px;
      @include sm {
        font-size: 21px;
      }
      .P-dots {
        margin: 0 -6px;
        i {
          display: inline-block;
          vertical-align: middle;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #9F9F9F;
          margin: 0 2px;
        }
        &:before, &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #9F9F9F;
        }
      }
    }
    .P-btn-block__copied-text {
      content: '';
      font-size: 6px;
      color: #4FBDA6;
      letter-spacing: 0.65px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
      top: -16px;
      padding: 4px 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      white-space: nowrap;
      @include md {
        padding: 5px 0;
        margin-left: -3px;
        top: -23px;
        font-size: 11px;
      }
      svg {
        margin-right: 3px;
        //margin-top: -1px;
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        @include md {
          width: 13px;
          height: 13px;
        }
      }
    }

    &--copied {
      position: relative;
      .P-btn-block__inner {
        position: relative;
        z-index: 2;
      }
      &:before {
        box-sizing: content-box;
        content: '';
        position: absolute;
        z-index: 1;
        left: -6px;
        top: -16px;
        width: 100%;
        height: 100%;
        padding: 6px;
        padding-top: 16px;
        background: rgba(#4FBDA6, 0.19);
        border-radius: 8px;
        @include md {
          top: -23px;
          padding-top: 23px;
        }
      }
      .P-btn-block__copied-text {
        visibility: visible;
      }
    }

    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .P-btn {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px;
    margin-top: 30px;
    background: #396EE0;
    color: #fff !important;
    text-decoration: none;
    display: inline-block;
    border-radius: 999px;
    cursor: pointer;
    border: 0;
    min-width: 240px;
    @media (max-width: 450px) {
      min-width: 100%;
    }
    @include md {
      font-size: 20px;
    }
    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
    &__icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      fill: #fff;
      vertical-align: -3px;
      margin-right: 10px;
      &--back-grey {
        background: no-repeat center url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgaGVpZ2h0PSIyMiIgICB2aWV3Qm94PSIwIDAgMjIgMjIiICAgd2lkdGg9IjIyIiAgIGlkPSJzdmcyIiAgIHZlcnNpb249IjEuMSIgICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxIHIxMzcyNSIgICBzb2RpcG9kaTpkb2NuYW1lPSJhcnJvdy1ncmF5LnN2ZyI+ICA8bWV0YWRhdGEgICAgIGlkPSJtZXRhZGF0YTEwIj4gICAgPHJkZjpSREY+ICAgICAgPGNjOldvcmsgICAgICAgICByZGY6YWJvdXQ9IiI+ICAgICAgICA8ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD4gICAgICAgIDxkYzp0eXBlICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPiAgICAgICAgPGRjOnRpdGxlPjwvZGM6dGl0bGU+ICAgICAgPC9jYzpXb3JrPiAgICA8L3JkZjpSREY+ICA8L21ldGFkYXRhPiAgPGRlZnMgICAgIGlkPSJkZWZzOCIgLz4gIDxzb2RpcG9kaTpuYW1lZHZpZXcgICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiAgICAgYm9yZGVyb3BhY2l0eT0iMSIgICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiICAgICBncmlkdG9sZXJhbmNlPSIxMCIgICAgIGd1aWRldG9sZXJhbmNlPSIxMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTQ0MCIgICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9Ijc4MSIgICAgIGlkPSJuYW1lZHZpZXc2IiAgICAgc2hvd2dyaWQ9ImZhbHNlIiAgICAgaW5rc2NhcGU6em9vbT0iMTAuNzI3MjczIiAgICAgaW5rc2NhcGU6Y3g9Ii0xLjM5ODMwNTEiICAgICBpbmtzY2FwZTpjeT0iMTEiICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIgICAgIGlua3NjYXBlOndpbmRvdy15PSIxIiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMSIgICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9InN2ZzIiIC8+ICA8cGF0aCAgICAgZD0ibSA2LjM5NDY0NSw4Ljg1NDI2MDkgMTMuNzYxNjg0LDAgYyAxLjAxODIzMSwwIDEuODQzNjcxLDAuODIzNDQgMS44NDM2NzEsMS44MzkyMDUxIDAsMS4wMTU3NjQgLTAuODI1NDQsMS44MzkyMDUgLTEuODQzNjcxLDEuODM5MjA1IGwgLTE0LjM3NjI0MSwwIDIuNDgzNjI4LDIuNDc3NjEgYyAwLjcxOTk5OCwwLjcxODI1NCAwLjcxOTk5OCwxLjg4Mjc3NCAwLDIuNjAxMDI4IC0wLjcxOTk5OSwwLjcxODI1NSAtMS44ODczNDcsMC43MTgyNTUgLTIuNjA3MzQ1LDAgTCAwLjUzOTk5OCwxMi41MDczMzMgQyAwLjEyNzE4MywxMi4wOTU1MTcgLTAuMDQ4OTQxLDExLjUzNjk5NyAwLjAxMTYyMywxMSAtMC4wNDg5MzcsMTAuNDYzMDAzIDAuMTI3MTgzLDkuOTA0NDgyOSAwLjUzOTk5OCw5LjQ5MjY2NjkgTCA1LjY1NjM3MSw0LjM4ODY5MDMgYyAwLjcxOTk5OCwtMC43MTgyNTQgMS44ODczNDYsLTAuNzE4MjU0IDIuNjA3MzQ1LDAgMC43MTk5OTgsMC43MTgyNTUgMC43MTk5OTgsMS44ODI3NzM2IDAsMi42MDEwMjg2IHoiICAgICBpZD0icGF0aDQiICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAgICAgc3R5bGU9ImZpbGw6I2M5YzljOSIgLz48L3N2Zz4=');
        background-size: contain;
      }
      &--refresh {
        background: no-repeat center url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMnB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyMiAxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5Db21iaW5lZCBTaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz4gICAgICAgIDxwYXRoIGQ9Ik0xNy4wNjgxMjcsOC45NzUwNTA5MiBMMTYuODcxNDEzOCw5LjMyMjA3NzM3IEMxNi41MDQ1Njk0LDkuOTY5MjM2MTkgMTUuNjkzMzQ2MiwxMC4yMTMwMjQ3IDE1LjAzMDUyNTIsOS44NzUzMDA1MiBDMTUuMDEzNzI5NCw5Ljg2Njc0MjY0IDE0Ljk5NzEyNTksOS44NTc4MTI1IDE0Ljk4MDcyNyw5Ljg0ODUxNjcxIEMxNC4zNjk1MTIyLDkuNTAyMDQ3MzggMTQuMTU0ODkzNiw4LjcyNTY5MDk3IDE0LjUwMTM2MjksOC4xMTQ0NzYxNSBMMTYuMjA1NzEwNCw1LjEwNzc5NjE0IEMxNi4yMjQ2MzA3LDQuOTI0ODM5NzQgMTYuMjgzNzA1Miw0Ljc0MzEzOTg0IDE2LjM4NjA4MzIsNC41NzU3NjY3NiBDMTYuMzk1OTE5Myw0LjU1OTY4NjE0IDE2LjQwNjExMTcsNC41NDM4MjYxMyAxNi40MTY2NTI3LDQuNTI4MTk4NDggQzE2LjgzMjYzNzEsMy45MTE0NzYyNSAxNy42NjAzMzk5LDMuNzMxNDA5NjcgMTguMjk0OTM4LDQuMTE5NTc3ODggTDIxLjM4NzA0MjksNi4wMTA5NDMxMiBMMjEuMzg3MDQyOSw2LjAxMDk0MzEyIEMyMS45ODYzOTQ2LDYuMzc3NTUxOTggMjIuMTc1MDcsNy4xNjA2MTc3NyAyMS44MDg0NjExLDcuNzU5OTY5NSBDMjEuNzk4NjI1LDcuNzc2MDUwMTMgMjEuNzg4NDMyNyw3Ljc5MTkxMDE0IDIxLjc3Nzg5MTcsNy44MDc1Mzc3OSBDMjEuMzYxOTA3Myw4LjQyNDI2MDAxIDIwLjUzNDIwNDUsOC42MDQzMjY2IDE5Ljg5OTYwNjQsOC4yMTYxNTgzOSBMMTkuNjgzMjIyOCw4LjA4MzgwMTg0IEMxOS42OTMyNDk2LDguMjUyNTIzMDggMTkuNjk4MzMzMyw4LjQyMjU1MTkzIDE5LjY5ODMzMzMsOC41OTM3NSBDMTkuNjk4MzMzMywxMy4zMzk5NDcxIDE1Ljc5MTA3MzIsMTcuMTg3NSAxMC45NzEyMjM2LDE3LjE4NzUgQzkuOTE5MDcwMDYsMTcuMTg3NSA4LjkxMDQwNDI0LDE3LjAwNDE1MjEgNy45NzYzNzgxNCwxNi42NjgxMzIzIEwxMC4wOTYzNTkzLDE0LjU0ODE1MTIgQzEwLjM4MjA3NTEsMTQuNTg4NDk3NSAxMC42NzQxNzM0LDE0LjYwOTM3NSAxMC45NzEyMjM2LDE0LjYwOTM3NSBDMTQuMjE1MDU2MywxNC42MDkzNzUgMTYuODY4Mzc4OSwxMi4xMTk3MzU0IDE3LjA2ODEyNyw4Ljk3NTA1MDkyIFogTTQuODc3MzYzNzUsOS4wMjAyNTY4MyBMNS4wNTI2NTM3LDguNjg0MTk5NzQgQzUuMzk2Njg5MDQsOC4wMjQ2MzI0NiA2LjE5ODkwOTk2LDcuNzUyNjgxMTkgNi44NzMxMTM2MSw4LjA2NzA2NzUxIEw2Ljg3MzExMzYxLDguMDY3MDY3NTEgQzYuODkwMTk3ODMsOC4wNzUwMzQwMiA2LjkwNzEwMjg3LDguMDgzMzc5MjYgNi45MjM4MTYyMSw4LjA5MjA5NzA3IEM3LjU0Njc1MDMsOC40MTcwMjQyNiA3Ljc4ODMzMjYzLDkuMTg1NDE3NjUgNy40NjM0MDU0NCw5LjgwODM1MTc0IEw1Ljc4NzA3OTM1LDEzLjAyMjExOTkgQzUuNzM0MDU5MywxMy4xMjM3NjczIDUuNjcwMTU3MDcsMTMuMjE2MjA4NiA1LjU5NzUxODMyLDEzLjI5ODcxNjQgQzUuNTc1NjE1NjgsMTMuMzQxODY4MyA1LjU1MTAyNzY1LDEzLjM4NDIyMjYgNS41MjM3MTA4OSwxMy40MjU1NjcyIEM1LjUxMzMxOTU1LDEzLjQ0MTI5NDggNS41MDI1Nzk5MywxMy40NTY3ODk0IDUuNDkxNDk5OTYsMTMuNDcyMDM5NyBDNS4wNTQyNDU2OSwxNC4wNzM4Njg2IDQuMjIwNzYyODYsMTQuMjI0OTM5IDMuNjAwMDk4MjEsMTMuODE0ODYwMSBMMC41NzU4ODQ2NDIsMTEuODE2NzM0MiBDLTAuMDEwMzA3NTIxOSwxMS40Mjk0MzE2IC0wLjE3MTUzOTM2NiwxMC42NDAyNTgxIDAuMjE1NzYzMjM5LDEwLjA1NDA2NiBDMC4yMjYxNTQ1NzksMTAuMDM4MzM4NCAwLjIzNjg5NDIwNywxMC4wMjI4NDM4IDAuMjQ3OTc0MTY4LDEwLjAwNzU5MzUgTDAuMjQ3OTc0MTY4LDEwLjAwNzU5MzUgTDAuMjQ3OTc0MTY4LDEwLjAwNzU5MzUgQzAuNjg1MjI4NDQ2LDkuNDA1NzY0NjEgMS41MTg3MTEyNyw5LjI1NDY5NDEzIDIuMTM5Mzc1OTIsOS42NjQ3NzMwMyBMMi4zMjc4OTMwOSw5Ljc4OTMyODA4IEMyLjI3MjY2Mzc5LDkuMzk4NTk2MjUgMi4yNDQxMTM5Miw4Ljk5OTQ1NjI3IDIuMjQ0MTEzOTIsOC41OTM3NSBDMi4yNDQxMTM5MiwzLjg0NzU1MjkzIDYuMTUxMzc0MDIsMCAxMC45NzEyMjM2LDAgQzEyLjE0MzA2MzUsMCAxMy4yNjA5NTkyLDAuMjI3NDMzMzg1IDE0LjI4MTg3MjYsMC42Mzk5MTk2ODcgTDEyLjIxODIzNzMsMi43MDM1NTQ5MiBDMTEuODE1NjU0MiwyLjYyMTMzMzE1IDExLjM5ODU2MzEsMi41NzgxMjUgMTAuOTcxMjIzNiwyLjU3ODEyNSBDNy41OTczMjg5LDIuNTc4MTI1IDQuODYyMjQ2ODMsNS4yNzE0MTIwNSA0Ljg2MjI0NjgzLDguNTkzNzUgQzQuODYyMjQ2ODMsOC43MzcxNDYxMiA0Ljg2NzM0MTk5LDguODc5MzcwMzkgNC44NzczNjM3NSw5LjAyMDI1NjgzIFoiIGlkPSJwYXRoLTEiPjwvcGF0aD4gICAgPC9kZWZzPiAgICA8ZyBpZD0i4oCULVBheW1lbnQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9ImNvbmZpcm1lZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwNi4wMDAwMDAsIC01NDguMDAwMDAwKSI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNi4wMDAwMDAsIDcwLjAwMDAwMCkiPiAgICAgICAgICAgICAgICA8ZyBpZD0iVGllci0xLS8tSWNvbi0vLVdhbGxldC0vLVdoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MC4wMDAwMDAsIDQ3OC4wMDAwMDApIj4gICAgICAgICAgICAgICAgICAgIDxnIGlkPSJDb21iaW5lZC1TaGFwZS0rLUNvbWJpbmVkLVNoYXBlLSstU3dhdGNoZXMtLy1CbGFjay1NYXNrIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgMC43NTAwMDApIj4gICAgICAgICAgICAgICAgICAgICAgICA8bWFzayBpZD0ibWFzay0yIiBmaWxsPSJ3aGl0ZSI+ICAgICAgICAgICAgICAgICAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI3BhdGgtMSI+PC91c2U+ICAgICAgICAgICAgICAgICAgICAgICAgPC9tYXNrPiAgICAgICAgICAgICAgICAgICAgICAgIDx1c2UgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjRDhEOEQ4IiB4bGluazpocmVmPSIjcGF0aC0xIj48L3VzZT4gICAgICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICAgICAgPC9nPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==');
        background-size: contain;
      }
      &--refresh-white {
        background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjIgMTgiIHdpZHRoPSIyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTcuMDY4MTI3IDguOTc1MDUwOTItLjE5NjcxMzIuMzQ3MDI2NDVjLS4zNjY4NDQ0LjY0NzE1ODgyLTEuMTc4MDY3Ni44OTA5NDczMy0xLjg0MDg4ODYuNTUzMjIzMTUtLjAxNjc5NTgtLjAwODU1Nzg4LS4wMzMzOTkzLS4wMTc0ODgwMi0uMDQ5Nzk4Mi0uMDI2NzgzODEtLjYxMTIxNDgtLjM0NjQ2OTMzLS44MjU4MzM0LTEuMTIyODI1NzQtLjQ3OTM2NDEtMS43MzQwNDA1NmwxLjcwNDM0NzUtMy4wMDY2ODAwMWMuMDE4OTIwMy0uMTgyOTU2NC4wNzc5OTQ4LS4zNjQ2NTYzLjE4MDM3MjgtLjUzMjAyOTM4LjAwOTgzNjEtLjAxNjA4MDYyLjAyMDAyODUtLjAzMTk0MDYzLjAzMDU2OTUtLjA0NzU2ODI4LjQxNTk4NDQtLjYxNjcyMjIzIDEuMjQzNjg3Mi0uNzk2Nzg4ODEgMS44NzgyODUzLS40MDg2MjA2bDMuMDkyMTA0OSAxLjg5MTM2NTI0Yy41OTkzNTE3LjM2NjYwODg2Ljc4ODAyNzEgMS4xNDk2NzQ2NS40MjE0MTgyIDEuNzQ5MDI2MzgtLjAwOTgzNjEuMDE2MDgwNjMtLjAyMDAyODQuMDMxOTQwNjQtLjAzMDU2OTQuMDQ3NTY4MjktLjQxNTk4NDQuNjE2NzIyMjItMS4yNDM2ODcyLjc5Njc4ODgxLTEuODc4Mjg1My40MDg2MjA2bC0uMjE2MzgzNi0uMTMyMzU2NTVjLjAxMDAyNjguMTY4NzIxMjQuMDE1MTEwNS4zMzg3NTAwOS4wMTUxMTA1LjUwOTk0ODE2IDAgNC43NDYxOTcxLTMuOTA3MjYwMSA4LjU5Mzc1LTguNzI3MTA5NyA4LjU5Mzc1LTEuMDUyMTUzNTQgMC0yLjA2MDgxOTM2LS4xODMzNDc5LTIuOTk0ODQ1NDYtLjUxOTM2NzdsMi4xMTk5ODExNi0yLjExOTk4MTFjLjI4NTcxNTguMDQwMzQ2My41Nzc4MTQxLjA2MTIyMzguODc0ODY0My4wNjEyMjM4IDMuMjQzODMyNyAwIDUuODk3MTU1My0yLjQ4OTYzOTYgNi4wOTY5MDM0LTUuNjM0MzI0MDh6bS0xMi4xOTA3NjMyNS4wNDUyMDU5MS4xNzUyODk5NS0uMzM2MDU3MDljLjM0NDAzNTM0LS42NTk1NjcyOCAxLjE0NjI1NjI2LS45MzE1MTg1NSAxLjgyMDQ1OTkxLS42MTcxMzIyMy4wMTcwODQyMi4wMDc5NjY1MS4wMzM5ODkyNi4wMTYzMTE3NS4wNTA3MDI2LjAyNTAyOTU2LjYyMjkzNDA5LjMyNDkyNzE5Ljg2NDUxNjQyIDEuMDkzMzIwNTguNTM5NTg5MjMgMS43MTYyNTQ2N2wtMS42NzYzMjYwOSAzLjIxMzc2ODE2Yy0uMDUzMDIwMDUuMTAxNjQ3NC0uMTE2OTIyMjguMTk0MDg4Ny0uMTg5NTYxMDMuMjc2NTk2NS0uMDIxOTAyNjQuMDQzMTUxOS0uMDQ2NDkwNjcuMDg1NTA2Mi0uMDczODA3NDMuMTI2ODUwOC0uMDEwMzkxMzQuMDE1NzI3Ni0uMDIxMTMwOTYuMDMxMjIyMi0uMDMyMjEwOTMuMDQ2NDcyNS0uNDM3MjU0MjcuNjAxODI4OS0xLjI3MDczNzEuNzUyODk5My0xLjg5MTQwMTc1LjM0MjgyMDRsLTMuMDI0MjEzNTctMS45OTgxMjU5Yy0uNTg2MTkyMTYtLjM4NzMwMjYtLjc0NzQyNDAxLTEuMTc2NDc2MS0uMzYwMTIxNC0xLjc2MjY2ODIuMDEwMzkxMzQtLjAxNTcyNzYuMDIxMTMwOTctLjAzMTIyMjIuMDMyMjEwOTMtLjA0NjQ3MjUuNDM3MjU0MjgtLjYwMTgyODg5IDEuMjcwNzM3MS0uNzUyODk5MzcgMS44OTE0MDE3NS0uMzQyODIwNDdsLjE4ODUxNzE3LjEyNDU1NTA1Yy0uMDU1MjI5My0uMzkwNzMxODMtLjA4Mzc3OTE3LS43ODk4NzE4MS0uMDgzNzc5MTctMS4xOTU1NzgwOCAwLTQuNzQ2MTk3MDcgMy45MDcyNjAxLTguNTkzNzUgOC43MjcxMDk2OC04LjU5Mzc1IDEuMTcxODM5OSAwIDIuMjg5NzM1Ni4yMjc0MzMzOSAzLjMxMDY0OS42Mzk5MTk2OWwtMi4wNjM2MzUzIDIuMDYzNjM1MjNjLS40MDI1ODMxLS4wODIyMjE3Ny0uODE5Njc0Mi0uMTI1NDI5OTItMS4yNDcwMTM3LS4xMjU0Mjk5Mi0zLjM3Mzg5NDcgMC02LjEwODk3Njc3IDIuNjkzMjg3MDUtNi4xMDg5NzY3NyA2LjAxNTYyNSAwIC4xNDMzOTYxMi4wMDUwOTUxNi4yODU2MjAzOS4wMTUxMTY5Mi40MjY1MDY4M3oiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAuNzUpIi8+PC9zdmc+');
        background-size: contain;
      }
      &--close {
        background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Im0xMC43NDYzMDA3IDcuNjcxODA2MjEgMy4zMTAwNjQ0IDMuMzEwMDY0MzljLjcxMDkyNzEuNzEwOTI3LjcxMDkyNzEgMS44NjM1Njc1IDAgMi41NzQ0OTQ1LS43MTA5MjcuNzEwOTI3MS0xLjg2MzU2NzUuNzEwOTI3MS0yLjU3NDQ5NDUgMGwtMy4zMTAwNjQzOS0zLjMxMDA2NDQtMy4zMTAwNjQ0MSAzLjMxMDA2NDRjLS43MTA5MjcwMy43MTA5MjcxLTEuODYzNTY3NS43MTA5MjcxLTIuNTc0NDk0NTMgMC0uNzEwOTI3MDQtLjcxMDkyNy0uNzEwOTI3MDQtMS44NjM1Njc1IDAtMi41NzQ0OTQ1bDMuMzEwMDY0NC0zLjMxMDA2NDM5LTMuMzEwMDY0NC0zLjMxMDA2NDQxYy0uNzEwOTI3MDQtLjcxMDkyNzAzLS43MTA5MjcwNC0xLjg2MzU2NzUgMC0yLjU3NDQ5NDUzLjcxMDkyNzAzLS43MTA5MjcwNCAxLjg2MzU2NzUtLjcxMDkyNzA0IDIuNTc0NDk0NTMgMGwzLjMxMDA2NDQxIDMuMzEwMDY0NCAzLjMxMDA2NDM5LTMuMzEwMDY0NGMuNzEwOTI3LS43MTA5MjcwNCAxLjg2MzU2NzUtLjcxMDkyNzA0IDIuNTc0NDk0NSAwIC43MTA5MjcxLjcxMDkyNzAzLjcxMDkyNzEgMS44NjM1Njc1IDAgMi41NzQ0OTQ1M3oiLz48bWFzayBmaWxsPSIjZmZmIj48dXNlIGZpbGw9Im5vbmUiIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjwvZGVmcz48dXNlIGZpbGwtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iLjE2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMSAtMSkiIHhsaW5rOmhyZWY9IiNhIi8+PC9zdmc+');
        background-size: contain;
        display: inline-block;
        fill: #fff;
        vertical-align: -1px;
        width: 13px;
        height: 13px;
      }
    }
    &-grey {
      background: #F5F5F5;
      color: #A0A0A0 !important;
      font-weight: 400;
      svg {
        fill: #c9c9c9;
      }
    }
    &--sm {
      background: none;
      height: 36px;
      line-height: 36px;
      border: 0;
      box-shadow: inset 0 0 0 2px #E3E3E3;
      color: #B2B2B2 !important;
      min-width: 0;
      font-size: 18px;
      font-weight: 400;
      padding: 0 18px 0 13px;
    }
  }

}
