.P-Payment {
  text-align: center;
  flex-grow: 1;
  &__header {
    text-align: left;
    font-weight: 600;
    font-size: 10px;
    color: #b8bcc4;
    line-height: 1.18;
    padding: 16px;
    background: rgba($primary, 0.1);
    box-shadow: inset 0 1px 0 rgba(#000, 0.02);
    transition: all ease 0.2s;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    @include xs {
      font-size: 8px;
    }
    @include sm {
      font-size: 12px;
      padding: 17px;
    }
    @include xl {
      font-size: 15px;
    }
    @include sh {
      font-size: 12px;
    }
    @include sh2 {
      font-size: 10px;
    }
    &__timer  {
      flex-shrink: 0;
      background: $primary;
      border-radius: 4px;
      padding: 5px 0;
      color: #fff;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      width: 55px;
      text-align: center;
      transition: all ease 0.2s;
      white-space: nowrap;
      margin-right: 10px;
      @include sm {
        margin-right: 14px;
        width: 70px;
        padding: 5px 0;
        font-size: 20px;
      }
      @include md {
        font-size: 23px;
      }
    }
    &__title {
      color: $primary;
      font-weight: 700;
      font-size: 14px;
      transition: all ease 0.2s;
      @include sm {
        font-size: 18px
      }
      @include xl {
        font-size: 24px;
      }
    }
    &__helper {
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin-top: 2px;
      @include md {
        letter-spacing: 1.23px;
      }
    }
    &__text {
      @media (min-width: 480px){
        min-width: 314px;
      }
    }

    &--red {
      background: rgba(#B93D3D, 0.1);
      color: #968e8e;
      .P-Payment__header__timer {
        background: #B93D3D;
      }
      .P-Payment__header__title {
        color: #B93D3D;
      }
    }

    &--green {
      background: rgba($green, 0.1);
      color: #8e9594;
      .P-Payment__header__timer {
        background: $green;
      }
      .P-Payment__header__title {
        color: $green;
      }
    }
    &__check {
      background: $green no-repeat center url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjNweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMjMgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgIDxwYXRoIGQ9Ik03LjA0OTEwNjczLDEyLjg0OTM3NzEgTDMuOTUzNzAwMDcsOS43NTM5NzA0MSBMMy45NTM3MDAwNyw5Ljc1Mzk3MDQxIEMzLjA2NTA0MTI3LDguODY1MzExNjEgMS42MjQyNDA2OSw4Ljg2NTMxMTYxIDAuNzM1NTgxODk4LDkuNzUzOTcwNDEgTDAuNzM1NTgxODk4LDkuNzUzOTcwNDEgTDAuNzM1NTgxODk4LDkuNzUzOTcwNDEgQy0wLjE1MzA3Njg5NiwxMC42NDI2MjkyIC0wLjE1MzA3Njg5NiwxMi4wODM0Mjk4IDAuNzM1NTgxODk4LDEyLjk3MjA4ODYgTDQuNDUyMjIzOCwxNi42ODg3MzA1IEM0LjUxMjUzOTgsMTcuMTczNzI1NSA0LjcyODg3NTA2LDE3LjY0MzAxNzkgNS4xMDEyMjk1NywxOC4wMTUzNzI0IEM1Ljk4OTg4ODM2LDE4LjkwNDAzMTIgNy40MzA2ODg5NCwxOC45MDQwMzEyIDguMzE5MzQ3NzQsMTguMDE1MzcyNCBMMjEuMzM3NTg4OCw0Ljk5NzEzMTMxIEMyMi4yMjYyNDc2LDQuMTA4NDcyNTEgMjIuMjI2MjQ3NiwyLjY2NzY3MTkzIDIxLjMzNzU4ODgsMS43NzkwMTMxNCBMMjEuMzM3NTg4OCwxLjc3OTAxMzE0IEwyMS4zMzc1ODg4LDEuNzc5MDEzMTQgQzIwLjQ0ODkzLDAuODkwMzU0MzQxIDE5LjAwODEyOTUsMC44OTAzNTQzNDEgMTguMTE5NDcwNywxLjc3OTAxMzE0IEwxOC4xMTk0NzA3LDEuNzc5MDEzMTQgTDcuMDQ5MTA2NzMsMTIuODQ5Mzc3MSBaIiBmaWxsPSIjRkZGRkZGIj48L3BhdGg+PC9zdmc+');
      background-size: 50%;
      width: 28px;
      height: 28px;
      border-radius: 4px;
      display: block;
      flex-shrink: 0;
      margin-right: 10px;
      @include md {
        margin-right: 14px;
        width: 32px;
        height: 32px;
      }
    }
  }
  &__start, &__expired, &__expired-helper, &__confirmed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__confirming {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include sh {
      .P-Payment .P-btn {
        margin-top: 20px;
      }
      .P-Payment__helper {
        margin-top: 20px;
      }
    }
    @include sh2 {
      p {
        margin-bottom: 0;
      }
    }
    //&-helper {
    //  overflow-y: scroll;
    //}
  }
  &__value {
    color: #2D2D2D;
    font-size: 19px;
    line-height: 1.23;
    letter-spacing: 0;
    text-align: center;
    padding: 24px 0;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include md {
      padding: 20px 0;
      font-size: 25px;
    }
    @include xs {
      font-size: 21px;
    }
    @include sh {
      padding-top: 12px;
    }
    &__icon {
      height: 45px;
      line-height: 45px;
      text-align: center;
      margin-right: 18px;

      display: flex;
      align-items: center;
      justify-content: center;
      @include md {
        height: 64px;
        line-height: 64px;
      }
      img {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &__qr {
    width: 125px;
    height: 125px;
    min-width: 125px;
    width: 25vh;
    height: 25vh;
    margin: -7px auto 5px;
    //padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xs {
      width: 120px;
      height: 108px;
    }
    @include md {
      width: 170px;
      height: 170px;
    }
    @include xl {
      width: 196px;
      height: 196px;
    }
    @include sh {
      width: 140px;
      height: 140px;
    }
    img {
      width: 100%;
    }
  }
  &__address {
    color: #8C8C8C;
    font-size: 11px;
    padding: 25px 0;
    position: relative;
    z-index: 2;
    @include xs {
      font-size: 10px;
    }
    @media (min-width: 420px) {
      font-size: 13px;
    }
    @include sm {
      font-size: 16px;
    }
    @include md {
      padding: 32px 0 44px;
      font-size: 20px;
    }
    b {
      color: #6A6A6A;
      font-weight: 500;
    }
    code {
      display: block;
      color: #000000;
      font-size: 10.5px;
      font-weight: 700;
      padding: 0;
      margin: 0;
      background: none;
      font-family: $font-family-code;
      margin-top: 12px;
      @include xs {
        font-size: 9.5px;
      }
      @media (min-width: 420px) {
        font-size: 13px;
      }
      @include sm {
        font-size: 16px;
      }
      @include md {
        letter-spacing: -0.54px;
        font-size: 20px;
      }
    }
  }
  &__helper {
    color: $primary;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 1.23px;
    @include xs {
      font-size: 10px;
    }
    @include md {
      font-size: 15px;
      margin-top: 40px;
    }
    @include xl {
      font-size: 17px;
    }
  }
}
