.P-Tabs {
  margin-top: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include md {
    margin-top: 22px;
  }
  @include sh {
    margin-top: 20px;
  }
  @include sh2 {
    margin-top: 0;
  }
  &__Tab-list {
    list-style: none;
    margin: 0 auto !important;
    padding: 0;
    background: #F7F7F7;
    box-shadow: inset 0 2px 0 rgba(#000, 0.04);
    border-radius: 999px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 240px;
    @include sm {
      width: 300px;
    }
    @include md {
      width: 345px;
    }
    @include sh2 {
      margin-bottom: 20px;
    }
    @include sh3 {
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      height: 100%;
      background: #fff;
      box-shadow: $box-shadow;
      border-radius: 999px;
      position: absolute;
      left: 0;
      top: 0;
      width: 33.33%;
      pointer-events: none;
      transition: all ease 0.2s;
    }
    &--no-wallet {
      &:before {
        width: 50%;
      }
    }
    &--second {
      &:before {
        transform: translate3d(100%, 0, 0);
      }
    }
    &--third {
      &:before {
        transform: translate3d(200%, 0, 0);
      }
    }
  }
  &__Tab-panel {
    display: none;
    flex-grow: 1;
    &--selected {
      display: flex;
      flex-direction: column;
    }
  }
  &__Tab {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    color: #696969;
    width: 50%;
    text-align: center;
    padding: 13px 15px;
    cursor: pointer;
    line-height: 1.35;
    margin: 0;
    @include sm {
      font-size: 14px;
    }
    @include md {
      font-size: 18px;
      padding: 12px;
    }
    &--selected {
      position: relative;
      color: $primary;
    }
  }
}
