//@import "normalize";

.PayBear-app {
  overflow: hidden;
  font-family: 'Overpass', Helvetica, Arial, sans-serif;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: none;
    box-shadow: none;
    border: 0;
  }
}
